<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>

    <!-- Targets go here -->
    
    <target xsi:type="Debugger" name="debugger" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"/>

	  <!-- Pre-trigger target -->

		<target name="SamplerDebugFile" xsi:type="BufferingWrapper" bufferSize="100" flushTimeout="30000">
		  <target xsi:type="PostFilteringWrapper" defaultFilter="level >= LogLevel.Error">
			  <target xsi:type="File" fileName="${SpecialFolder:folder=CommonApplicationData:file=NoeticToools\\nLogCruncher\\debuglog.txt}"
				  autoFlush="false" bufferSize="50000" deleteOldFileOnStartup="true" archiveAboveSize="10000000"
				  layout="${longdate} ${longdate} | ${logger} | ${message}"/>
			  <when exists="level >= LogLevel.Warn" filter="level >= LogLevel.Trace"/>
		  </target>
	  </target>

		<!-- Use this target for viewing in test runner & VS debug output window -->
	  
    <target name="trace" xsi:type="Trace" layout="${longdate} ${level:uppercase=true} | ${logger} | ${message}"/>

      <target name="filteredTrace" xsi:type="FilteringWrapper" condition="(contains('${logger}','UI') == false)">
          <target xsi:type="Trace" layout="${date:format=HH\:MM\:ss.fff} ${level:uppercase=true} | ${logger} | ${message}"/>
    </target>
    
    <target name="console" xsi:type="Console"
            layout="${date:format=HH\:MM\:ss} ${threadid} ${logger} ${message}"/>
    
    <target name="network" xsi:type="Network" address="udp://192.168.1.102:4000"
          layout="${level} ${logger} ${message}${newline}"/>
    
  </targets>

  <rules>
    <!-- Rules go here -->    
    <!-- Levels are (in order): Trace, Debug, Info, Warn, Error, Fatal -->
    <!--
	  <logger name="*" minlevel="Trace" writeTo="network"/>
    -->
    <logger name="*" minlevel="Trace" writeTo="trace"/>


  </rules>
   
</nlog>